body {

    
    background-image: url("plate.jpg");
    
    height: 75%;
  
    
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   
    
  }